<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<servlet>
<servlet-name>helloServer</servlet-name>
<servlet-class>de.vogella.gwt.helloworld.server.HelloServer</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>helloServer</servlet-name>
<url-pattern>/de.vogella.gwt.helloworld/hello-service</url-pattern>
</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>De_vogella_gwt_helloworld.html</welcome-file>
  </welcome-file-list>
</web-app>